---
---

@import "{{ site.theme }}";
body {
    background-color: #252525;
    padding:50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#fcfcfc;
    font-weight:400;
  }

h1, h2, h3, h4, h5, h6 {
  color:#169DDD;
  margin:0 0 20px;
}

ul, ol, table, pre, dl {
  margin:0 0 20px;
}

p {
  text-align: justify;
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:38px;
}

h2 {
  color:#F03B34;
}

h3, h4, h5, h6 {
  color:#C0C0C0;
}
